.container {
    margin-top: 9rem;
    margin-left: 9rem;
    width: 20%;
    height: 100%
}

.content {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 12rem;
    width: 50%;
    height: 100%;
}
.spline {
    // background-color: #868686;
    background-image: url("../../public/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
    border-radius: 2px;
}

.home {
    text-decoration: none;
    :hover {
        text-decoration: underline;
        // text-decoration-thickness: 0.5px;
        text-underline-offset: 5px;
    }
}

.detail {
    details {
        display: block;
        margin-top: 6rem;
        text-decoration: none;
        :hover {
            text-decoration: underline;
            // text-decoration-thickness: 0.5px;
            text-underline-offset: 5px;
        }
        p:hover {
            text-decoration: none;
        }
        h2:hover {
            text-decoration: none;
        }
        .links:hover {
            p {
                text-decoration: none;
            }
        }
        .creator:hover {
            p {
                text-decoration: none;
            }
        }
    }
    details > summary {
        list-style-type: none;
        cursor: pointer;
    }
    details > summary::-webkit-details-marker {
        display: none;
    }
    details > summary:after {
        content: "Open Description";
    }
    details[open] > summary:after {
        content: "Close Description"
    }
    summary {
        margin-bottom: 6rem;
    }
    h2 {
        margin-bottom: 1rem;
    }
}

.creator {
    margin: 3rem 0;
}
// .links {
//     margin-top: 6rem;
// }

.darkmode {
    position: absolute;
    bottom: 9rem;
    left: 9rem;
}
.darkmodeSP {
    display: none;
}


@media (max-width: 500px) {
    .detail {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        details {
            margin-top: 0.5rem;
        }
        summary {
            margin-bottom: 0.5rem;
        }
    }
    .date {
        margin-top: 6rem;
    }
    .links {
        margin-bottom: -3rem;
    }
    .content {
      z-index: -1;
      right: 0;
      width: 100%;
      height: 100%;
    }
    .darkmode {
        display: none;
    }
    .darkmodeSP {
        display: contents;
    }
  }