.header {
    margin-bottom: 6rem;
    h2 {
      margin-top: 0.5rem;
    }
    p {
        margin-top: 3rem;
    };
}

.btn {
  text-decoration: none;
  :hover {
    text-decoration: underline;
    // text-decoration-thickness: 0.5px;
    text-underline-offset: 5px;
  }
}